.AppContainer {
  max-width: 400px;
  margin: auto;
  text-align: center;
}

.App {
  text-align: left;
}

.text-block-wrapper {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.text-page-wrapper {
	width: 100vw;
	height: auto;
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-top: 20px;
}

.answer-form.ui.form {
	width: 80%;
	max-width: 300px;

}

.answer-form.ui.form .field textarea {
	heigh: 80vh;
	min-height: 300px;
	max-height: 500px;
}

.answer-form.ui.form button {
	width: 100%;
}
